:root {

  --ff-primary: 'Open Sans', sans-serif;

  --clr-main: #002F34;
  --clr-accent: #23E5DB;
  --clr-blue: #3A77FF;
  --clr-light: #F7F8F9;
  --clr-orange: #FFCE32;
  --clr-white: #fff;
  --clr-shadow: #dadada;

  --fw-bold: 700;
  --fw-reg: 400;
  --fw-light: 300;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-small: 14px;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
      0.125em 0.125em 0.25em rgba(0,0,0,.15); 
}